html {
    background-color: #fffddeef;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    height:100%;
  }
  
  body {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
    margin: 0;
    height:100%;
  }
  
  nav {
    /* margin-top: 100 px;  */
    /* background-color: #FFFDD0; Cream color */
    background-color: #fffddeef;
    width: 100%;
    border-bottom: 2px solid #000000; /* Soft border */
    /* border-top: 2px solid #000000; */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li:first-child {
    float: left;
  }
  
  nav ul li {
    float: right;
  }
  
  nav ul li a {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    color: #4D4D4D; /* Soft gray color */
    transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition */
  }
  
  nav ul li a:hover {
    background-color: #d3d0cc; /* Lighter cream color on hover */
    color: #333; /* Darker gray text on hover */
  }
  
  #meta_form_section {
    height:300px;
    /* width:275px; */
    margin:25px;
    border-radius: 20px;
    padding:10px;
  }

  #suggestion_wrapper {
    width:500px;
    margin:25px;
    border-radius: 20px;
    padding:10px;
  }
  
  #activies {
    width: 300px;  
    margin:25px;
    padding:10px;
    border-radius: 20px;
  }
  
  #activity_suggestions {
    width: 300px;  
    margin:15px;
    padding:10px;
    border-radius: 20px;
    float:left;
  }

  #adverts {
    width:90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .activitySuggestion, .activityEntered {
    border: 1px solid #000000;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    text-transform: capitalize;
  }  
  
  .ad_item {
    color: white;
    background-color: rgb(101, 103, 104);
    width: 200px;
    text-align: center;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 25px;
  }

  .BackgroundImage {
    background-image: url('../pages/images/stars.jpg');
    background-size: cover; 
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .MainContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .InfoContainer {
    display: flex;
    background-color: #363636;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    z-index: 1;
    margin: 100px 0;
    border-radius: 40px;
    padding: 30px;
  }

  .MainTitle {
    font-size: 50px;
    color: white;
    margin: 0;
    padding: 0;
  }

  .gradient-text {
    margin: 0;
    font-size: 60px;
    font-style: italic;
    background: linear-gradient(to right, rgb(206, 203, 203), #df29a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .line {
    width: 76%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 2px;
    margin-bottom: 30px;
}

.SectionTitle {
  margin: 0;
  padding: 0;
  color: white;
  margin-top: 100px;
}
